<tr id="position-<%=position.id%>">
    <td><%= link_to position.id, position %></td>
    <td class="d-none d-sm-table-cell"><%= position.user.full_name %></td>
    <td><%= position.symbol %></td>
    <td><%= position.quantity %></td>
    <td><%= position.average_cost %></td>
    <td class="d-none d-sm-table-cell"><%= position.current_value %></td>
    <td class="d-none d-sm-table-cell"><%= position.eod_value %></td>
</tr>
