
<p id="notice" class="alert" role="alert"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Positions</h1>
</div>


<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Average cost</th>
      <th>Current value</th>
      <th>Eod value</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= link_to position.id, position %></td>
        <td><%= position.user.full_name %></td>
        <td><%= position.symbol %></td>
        <td><%= position.quantity %></td>
        <td><%= position.average_cost %></td>
        <td><%= position.current_value %></td>
        <td><%= position.eod_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>


