<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" class="form-group">
    <%= form.label :side %>
    <%= form.select :side, Order::SIDE_TYPES, {}, {class: "form-control"} %>    
  </div>

  <div class="field" class="form-group">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, class: "form-control" %>
  </div>

  <div class="field hidden" class="form-group">
    <%= form.label :security_id %>
    <%= form.number_field :security_id, class: "form-control" %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :price_type %>
    <%= form.select :price_type, Order::PRICE_TYPES, {}, {class: "form-control"} %>    
  </div>

  <div class="field" class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :order_type %>
    <%= form.select :order_type, Order::ORDER_TYPES, {}, {class: "form-control"} %>    
  </div>

  <div class="field" class="form-group">
    <%= form.label :qualifier %>
    <%= form.text_field :qualifier, class: "form-control" %>
  </div>

<button type="submit" class="btn btn-primary">Save</button>

<% end %>
