<tr id="order-<%=order.id%>">
    <td><%= link_to "Order-#{order.id}", order %></td>
    <td><%= order.user.full_name %></td>
    <td><%= order.side %></td>
    <td><%= link_to order.symbol, security_path(id: order.security_id) %></td>
    <td><%= order.quantity %></td>
    <td><%= order.price %></td>
    <td><%= order.price_type %></td>
    <td><%= order.fill_status %></td>
    <td><%= order.filled_qty %></td>
    <td><%= order.open_qty %></td>
    <td><%= order.status %></td>
    <td>
        <%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary" %>
        <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </td>
</tr>