<p id="notice"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Order</h1>
</div>


<table class="table table-bordered table-striped">

<tr>
  <td>
    <strong>User:</strong>
  </td>
  <td>
          <%= @order.user.full_name %>
      </td>
</tr>


<tr>
  <td>
    <strong>Side:</strong>
  </td>
  <td>
          <%= @order.side %>
      </td>
</tr>


<tr>
  <td>
    <strong>Symbol:</strong>
  </td>
  <td>
          <%= @order.symbol %>
      </td>
</tr>

<tr>
  <td>
    <strong>Price type:</strong>
  </td>
  <td>
          <%= @order.price_type %>
      </td>
</tr>


<tr>
  <td>
    <strong>Order type:</strong>
  </td>
  <td>
          <%= @order.order_type %>
      </td>
</tr>


<% if @order.price_type == Order::LIMIT %>
<tr>
  <td>
    <strong>Price:</strong>
  </td>
  <td>
          <%= @order.price %>
      </td>
</tr>
<% end %>

<tr>
  <td>
    <strong>Quantity:</strong>
  </td>
  <td>
          <%= @order.quantity %>
      </td>
</tr>


<tr>
  <td>
    <strong>Status:</strong>
  </td>
  <td>
          <%= @order.status %>
      </td>
</tr>

<tr>
  <td>
    <strong>Open qty:</strong>
  </td>
  <td>
          <%= @order.open_qty %>
      </td>
</tr>


<tr>
  <td>
    <strong>Filled qty:</strong>
  </td>
  <td>
          <%= @order.filled_qty %>
      </td>
</tr>


<tr>
  <td>
    <strong>Fill Status:</strong>
  </td>
  <td>
          <%= @order.fill_status %>
      </td>
</tr>



</table> 

<div class="action">
  <%= link_to 'Edit', edit_order_path(@order), class:"btn btn-primary" %> |
  <%= link_to 'Back', orders_path, class:"btn btn-primary" %> |
  <%= link_to 'Cancel', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<% @trades = @order.trades.includes(:user) %>
<%= render "/trades/index" %>