
<p id="notice" class="alert" role="alert"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Order Books</h1>
    <%= link_to 'New Order Book', new_order_book_path, class: "btn btn-primary" %>
</div>


<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Security</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_books.each do |order_book| %>
      <tr>
        <td><%= order_book.symbol %></td>
        <td><%= order_book.security_id %></td>
        <td>
          <%= link_to 'Show', order_book_path(symbol:order_book.symbol, id:order_book.id), class: "btn btn-primary" %>
          <%= link_to 'Delete', order_book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


