<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped">



<tr>
  <td>
    <strong>Symbol:</strong>
  </td>
  <td>
          <%= @order_book.symbol %>
      </td>
</tr>


<tr>
  <td>
    <strong>Security:</strong>
  </td>
  <td>
          <%= @order_book.security_id %>
      </td>
</tr>


</table> 

<%= link_to 'Edit', edit_order_book_path(@order_book), class:"btn btn-primary" %> |
<%= link_to 'Back', order_books_path, class:"btn btn-primary" %>

