<p id="notice"><%= notice %></p>

<div id="order_book" data-security-id="<%=@order_book.security_id%>" >

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Order Book: <%= @order_book.symbol %></h1>
    </div>

    <%=render "/order_books/show", {order_book: @order_book}%>
    
    <div class="row">
        <% @trades = [] %>
        <div class="col-lg-12 mb-4">

            <!-- Trades -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <%= render "/trades/index" %>
                </div>
            </div>

        </div>

    </div>

</div>