
<p id="notice" class="alert" role="alert"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Securities</h1>
    <%= link_to 'New Security', new_security_path, class: "btn btn-primary" %>
</div>


<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Sec type</th>
      <th>Symbol</th>
      <th class="d-none d-sm-table-cell">Name</th>
      <th class="d-none d-sm-table-cell">Prev closing price</th>
      <th class="d-none d-sm-table-cell">Opening trade price</th>
      <th class="d-none d-sm-table-cell">Day high price</th>
      <th class="d-none d-sm-table-cell">Day low price</th>
      <th>Price</th>
      <th class="d-none d-sm-table-cell">Market cap</th>
      <th class="d-none d-sm-table-cell">Pe</th>
      <th class="d-none d-sm-table-cell">Last trade date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @securities.each do |security| %>
      <tr>
        <td><%= security.sec_type %></td>
        <td><%= link_to security.symbol, security %></td>
        <td class="d-none d-sm-table-cell"class="d-none d-sm-table-cell"><%= security.name %></td>
        <td class="d-none d-sm-table-cell"><%= security.prev_closing_price %></td>
        <td class="d-none d-sm-table-cell"><%= security.opening_trade_price %></td>
        <td class="d-none d-sm-table-cell"><%= security.day_high_price %></td>
        <td class="d-none d-sm-table-cell"><%= security.day_low_price %></td>
        <td id="sec_price_<%=security.id%>"><%= security.price %></td>
        <td class="d-none d-sm-table-cell"><%= security.market_cap %></td>
        <td class="d-none d-sm-table-cell"><%= security.pe %></td>
        <td class="d-none d-sm-table-cell"><%= security.last_trade_date %></td>
        <td>
          <%= link_to 'Trade', new_order_path("order[security_id]":security.id), class: "btn btn-success" %>          
          <%= link_to 'Edit', edit_security_path(security), class: "btn btn-primary" %>
          <%= link_to 'Order Book', order_book_path(id:security.id, security_id:security.id, symbol: security.symbol), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


