

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trades</h1>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      
      <th>Symbol</th>
      <th>Side</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Buyer</th>
      <th>At</th>
      
      <th>Order</th>
      <th>Counterparty Order</th>
      
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= link_to "Trade-#{trade.id}", trade %></td>
        
        <td><%= trade.symbol %></td>
        <td><%= trade.side %></td>
        <td><%= trade.quantity %></td>
        <td><%= trade.price %></td>
        <td><%= trade.user.full_name %></td>
        <td><%= trade.created_at %></td>

        <td><%= link_to "Order-#{trade.order_id}", order_path(id: trade.order_id) %></td>
        <td><%= link_to "Order-#{trade.counterparty_order_id}", order_path(id: trade.counterparty_order_id) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>


