<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped">



<tr>
  <td>
    <strong>Order:</strong>
  </td>
  <td>
          <%= @trade.order_id %>
      </td>
</tr>


<tr>
  <td>
    <strong>Symbol:</strong>
  </td>
  <td>
          <%= @trade.symbol %>
      </td>
</tr>


<tr>
  <td>
    <strong>Quantity:</strong>
  </td>
  <td>
          <%= @trade.quantity %>
      </td>
</tr>


<tr>
  <td>
    <strong>Price:</strong>
  </td>
  <td>
          <%= @trade.price %>
      </td>
</tr>


<tr>
  <td>
    <strong>User:</strong>
  </td>
  <td>
          <%= @trade.user.full_name %>
      </td>
</tr>

<tr>
  <td>
    <strong>Order:</strong>
  </td>
  <td>
          <%= link_to "Order-#{@trade.order_id}", @trade.order %>
      </td>
</tr>

<tr>
  <td>
    <strong>Counterparty Order:</strong>
  </td>
  <td>
          <%= link_to "Order-#{@trade.counterparty_order_id}", @trade.counterparty_order %>
      </td>
</tr>


<tr>
  <td>
    <strong>Time:</strong>
  </td>
  <td>
          <%= @trade.created_at %>
      </td>
</tr>

</table> 

<div class="action">
  <%= link_to 'Edit', edit_trade_path(@trade), class:"btn btn-primary" %> |
  <%= link_to 'Back', trades_path, class:"btn btn-primary" %>
</div>
